.choose-name__heading {
  font-weight: normal;
}

.choose-name__input {
  font-size: 2rem;
  text-align: center;
  background: transparent;
}

.choose-name__input::placeholder {
  color: var(--color-grey);
}
