.game-intro {
  max-width: 37.5rem;
  height: 100%;
  padding: 1.5rem;
}

.game-round__round {
  margin-top: 1.5rem;
  color: var(--color-turquoise);
}

.game-round__heading {
  margin-top: 0.5rem;
  font-weight: normal;
}

.game-round__scores {
  display: flex;
}

.game-round__score-wrapper {
  flex: 1 0 auto;
}

.game-round__score-wrapper:first-child {
  border-right: 1px solid var(--color-mid-gray);
}

.game-round__player-wrapper {
  text-align: center;
}

.game-round__score,
.game-round__current-team-player {
  font-family: 'Dosis', Verdana, sans-serif;
  font-size: 4rem;
  font-weight: 600;
}

.game-round__current-team-player--small {
  font-size: 2rem;
}

.game-round__word {
  display: block;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  text-align: left;
  text-align: center;
  user-select: none;
}

.game-round__word--blurred {
  filter: blur(14px);
}

.game-round__team-logo {
  width: 0.875rem;
  height: auto;
  margin-right: 0.5rem;
}

.game-round__team--ice,
.game-round__current-team-player--ice {
  padding-top: 0.354rem;
  color: var(--color-blue);
}

.game-round__team--fire,
.game-round__current-team-player--fire {
  color: var(--color-orange);
}

.game-round__current-team-logo {
  width: 2rem;
  height: auto;
  margin-top: 2rem;
}

.game-round__current-team-logo--small {
  width: 1.5rem;
}

.game-round__current-team-player {
  margin-bottom: 2rem;
}
