.game-scores__scores {
  display: flex;
}

.game-scores__wrapper {
  flex: 1 0 auto;
}

.game-scores__wrapper:first-child {
  border-right: 1px solid var(--color-mid-gray);
}

.game-scores__score {
  font-family: 'Dosis', Verdana, sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

.game-scores__current-team-player {
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-family: 'Dosis', Verdana, sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

.game-scores__start-turn {
  margin-top: 2rem;
}
