.game-round__current-team-player {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: 'Dosis', Verdana, sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.game-round__word {
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: left;
  text-align: center;
  user-select: none;
}

.game-round__word--blurred {
  filter: blur(14px);
}

.game-round__team--ice,
.game-round__current-team-player--ice {
  padding-top: 0.354rem;
  color: var(--color-blue);
}

.game-round__team--fire,
.game-round__current-team-player--fire {
  color: var(--color-orange);
}

.game-round__time-remaining {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.game-round__skip-image {
  margin-top: 1rem;
  margin-right: 1rem;
}
