.lobby__header {
  position: relative;
  width: 100%;
  padding: 1rem;
  color: var(--color-white);
  background: var(--color-blue);
}

.lobby__heading {
  margin: 0;
}

.lobby__close {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  flex-flow: column;
  padding: 0;
  cursor: pointer;
  background: none;
  border: 0.125rem solid transparent;
  border-radius: 50em;
}

.lobby__close-image {
  height: 1.5rem;
}

.lobby__close-text {
  padding-top: 0.25rem;
  font-size: 0.875rem;
  color: var(--color-white);
}
