@import "./normalize.css";

:root {
  /* Colors - main */
  --color-orange: #ed6a5a;
  --color-yellow: #f4f1bb;
  --color-turquoise: #9bc1bc;
  --color-blue: #5ca4a9;
  --color-off-white: #e6ebe0;
  --color-grey: #c1c1c1;
  --color-dark-gray: #333;
  --color-white: #fff;
}

@import "./fonts.css";
@import "./choose-name.css";
@import "./lobby.css";
@import "./player-list.css";

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 1.125rem;
  background: #fafafa;
}

h1,
h2,
h3 {
  font-family: 'Dosis', Verdana, sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

main {
  text-align: center;
}

.wrapper {
  width: 100%;
  max-width: 37.5rem;
}

.caption {
  font-size: 0.875rem;
  font-weight: 300;
}

.button,
.input {
  position: relative;
  width: 15.625rem;
  padding: 1rem;
  margin: 1rem;
  font-family: 'Dosis', Verdana, sans-serif;
  cursor: pointer;
  border: 0.125rem solid transparent;
  border-radius: 50em;
}

.input--orange {
  border-color: var(--color-orange);
}

.button--orange {
  color: var(--color-white);
  background: var(--color-orange);
}

.button--blue {
  color: var(--color-white);
  background: var(--color-blue);
}

.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  color: #fff;
  background: radial-gradient(50% 50% at 50% 50%, #eb887b 0%, #ed6a5a 100%);
}

.flex {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.return {
  color: var(--color-blue);
}
