.player-list {
  width: 100%;
}

.player-list__teams {
  display: flex;
  width: 100%;
  padding: 1.5rem;
}

.player-list__team {
  flex-basis: 50%;
}

.player-list__players {
  padding: 0;
  font-family: 'Dosis', Verdana, sans-serif;
  font-weight: 600;
  list-style: none;
}

.player-list__player {
  font-weight: normal;
}

.player-list__player-checkbox {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.player-list__player-current {
  font-weight: bold;
}
