.player-list {
  width: 100%;
}

.player-list__teams {
  display: flex;
  width: 100%;
  max-width: 500px;
  padding: 1.5rem;
  text-align: left;
}

.player-list__team {
  flex-basis: 50%;
}

.player-list__team-logo {
  width: 0.875rem;
  height: auto;
  margin-right: 0.5rem;
}

.player-list__team-name--ice {
  color: var(--color-blue);
}

.player-list__team-name--fire {
  color: var(--color-orange);
}

.player-list__players {
  padding: 0;
  font-family: 'Dosis', Verdana, sans-serif;
  list-style: none;
}

.player-list__player {
  display: flex;
  align-items: center;
}

.player-list__player--check {
  width: 0.875rem;
  height: auto;
  margin-right: 0.5rem;
}

.player-list__player--current {
  font-weight: 600;
}
