.rules {
  min-height: 100%;
  background-color: #e6ebe0;
}

.rules__heading {
  display: flex;
  align-items: center;
  padding-top: 3rem;
  margin-left: 1.875rem;
  font-size: 2rem;
}

.rules__heading-text {
  margin-left: 1.375rem;
  font-weight: 600;
}

.rules__paragraphs {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem 3.75rem 1.5rem;
  font-size: 1rem;
  line-height: 1.375;
  text-align: left;
}

.rules__paragraph-topic {
  margin: 0;
}

.rules__paragraph-text {
  margin-bottom: 1.5rem;
}

.rules__return {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.25rem;
  cursor: pointer;
  background-color: var(--color-white);
}

.rules__return-arrow {
  margin-top: 0.25rem;
  margin-right: 0.5rem;
}
